header {
 background-color: cornflowerblue;
 padding-bottom: 10px;
 width: 100%;
 margin-bottom: 10px;
 text-align: center;
 padding-top: 3px;
}

form{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

form input{
    border: solid 1px;
    border-radius: 5px;
}

form button{
    margin-top: 5px;
    background-color: lightcyan;
    width: 150px;
}

.flexContainer {
    
    display: flex;
    flex-direction: row;
    min-height: 85vh;
    /* background-color: lightgreen; */
}

.leftLane {
    background-color: lightblue;
    
    min-width: 30%;
}

.cityButton{
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 30px;
    background-color: lightsteelblue;
}

.delete{
    background-color: red;
    font-weight: bolder;
    margin-left: 5px;
}

.test2 {
    background-color: lightblue;
    
    min-width: 70%;
}

.test1 {
    /* background-color: darkgoldenrod; */
    border-top: dashed darkslategray 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.today {
    /* border: solid black 2px; */
    margin: 5px;
    padding: 5px;
}

.day5{
    display: flex;
    flex-direction: row;
}

.card{
    margin: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3px;
}



footer{
    position: absolute;
    bottom: 0;
    /* background-color: white; */
    width: 99.7%;
}